html, body {
	margin:0;
	padding:0;
	font-family:Lucida Sans Unicode;
	font-size:1em;
}
#top {
	background:url('/public/images/template/top.png') center no-repeat #c3facf;
	width:100%;
	height:93px;
	margin:0 auto;
	text-align:center;
}
#top_menu {
	float:right;
	margin-right:100px;
	text-transform:uppercase;
	font-size:1.2em;
}
#top_menu li {
	float:left;
	margin:15px 20px 15px 20px;
}
#top_menu a {
	text-decoration:none;
	color:#000;
	text-shadow: 5px 3px 3px #ccc;
}
#top_menu a:hover {
	text-decoration:underline;
}
#content {

}
#content a {
	text-decoration:none;
	color:#0d593a;
	font-weight:bold;
}
#content a:hover {
	text-decoration:underline;
}
.div_kierunek {
	float:left;
	width:200px;
	height:100px;
	padding:15px;
	text-align:center;
	margin:0;
	font-size:0.7em;
	opacity:0.9;
}
.div_kierunek_holder {
	margin:0 auto;
	text-align:center;
	width:1000px;
}
a.div_kierunek  {
	color:#000 !important;
	font-weight:normal !important;
}
a.div_kierunek:hover {
	text-decoration:none !important;
	opacity:0.5;
}